<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= link_to user.following_user.count,user_follows_path(user.id) %></td>
        <td><%= link_to user.follower_user.count,user_followers_path(user.id) %></td>
        <td><%= link_to 'Show', user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
